@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron banner">
    <h1 id="bannerHeader" class="whiteText">Sequence Generator</h1>
    <p class="lead whiteText">Generate various sequences with your own criteria</p>
    <p><a href="@Url.Action("Index", "Sequence")" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>
